$boxes-background-color: #a99560;
$btns-background-color: rgb(33, 156, 204);
$htmlPageBackgroungColor:#ffffff;
$boxShadowCols: 2px 0px 11px -3px #888888;
$contentHoverBackgroundColr: rgb(206, 202, 202);
